* { 
    box-sizing: border-box; 
    margin: 0;
}
@font-face {
    font-family: 'Dalelands';
    src: url('../fonts/dalelands.woff2') format('woff2')
}
@font-face {
    font-family: 'Draconis';
    src: url('../fonts/draconis.woff2') format('woff2')
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato.woff2') format('woff2')
}
@font-face {
    font-family: 'NorseBold';
    src: url('../fonts/norse-bold.woff2') format('woff2')
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto.woff2') format('woff2')
}
@font-face {
    font-family: 'SourceSansPro';
    src: url('../fonts/sourcesanspro.woff2') format('woff2')
}
@font-face {
    font-family: 'Vecna';
    src: url('../fonts/vecna.woff2') format('woff2')
}
.article {
    background-color: #fffdf1;
    box-shadow: 0 1rem 3rem #4e3c47;
    margin: auto;
    margin-bottom: 0;
    padding: 1rem 1rem 6rem;
    position: relative;
    top: -15vw;
    width: 80%;
}
.article a:link, 
.article a:visited {
    color: #79b9d9;
    text-decoration: none;
}
.card {
    background-color: #fffdf1;
    border-bottom: solid #4e3c47 1px;
    border-left: solid #4e3c47 1px;
    border-right: solid #4e3c47 1px;
    box-shadow: -0.1rem 1rem 1rem #4e3c47;
    display: block;
    margin: 0 auto 2rem;
    padding: 0 0 1rem;
    width: 100%;
    color: #000;
}
.card:hover {
    background-color: #fdf7d1;
    box-shadow: -0.5rem 1.5rem 2rem #4e3c47;
    color: #ad3a25;
}
.card .preview {
    display: block;
    height: 12rem;
    margin: 0 0 1rem;
    max-height: 12rem;
    object-fit: cover;
    padding: 0;
    width: 100%;
}
.contents {
    font-size: 1.125rem;
    line-height: 2rem;
    margin: 0 auto 0 auto;
    text-indent: 1.125rem;
    padding: 0;
    width: 90%;
}
.embed {
    display: block;
    height: auto;
    margin: auto;
    width: 100%;
}
footer {
    color: #fffdf1;
    font-size: 1.25rem;    
    margin: 0;
    padding: 0 0 4rem;
    text-align: center;
  }
h1{
    font-family: 'Dalelands','Times New Roman', serif;
    font-size: 2.125rem;
    text-align: center;
}
h2 {
    font-family: 'Vecna', Georgia, serif;
    font-size: 2rem;
    text-align: center;
}
h3 {
    font-family: 'Draconis', Garamond, serif;
    font-size: 1.75rem;
    padding: 1rem;
    text-align: center;
}
header {
    background-color: #aca491;
    background-image: url(../images/Bricks.jpg);
    height: auto;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 90;
  }
.landscape {
    height: 50vw;
    object-fit: cover;
    width: 100%;
}
nav {
    text-align: center;
    z-index: 100;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    padding: 2vh 0;
}
nav ul li a {
    background-image: linear-gradient(to right, #aca491, #928572);
    border: groove #575040 8px;
    color: #302625;
    font-family:'NorseBold';
    font-size: 4vw;
    margin: 0 1.5vw;
    padding: 1vh 3vw;
    text-decoration: none;
}
/*Max font size for scaling nav bar options*/
@media screen and (min-width: 1400px){
    nav ul li a{
       font-size: 40px;
    }
  }
nav ul li a:hover {
    background-image: linear-gradient(to right,#575040, #575040);
    border-style: inset;
    color: #fff;
}
p, ol{
    font-family: 'SourceSansPro', 'Roboto', sans-serif;
}
.title {
    border-bottom: solid #ad3a25 5px;
    margin: 2rem 0;
    padding: 0 0 .5rem;
}
.wrapper {
    background-image: url(../images/Bricks.jpg);
    background-repeat: repeat;
    margin: 0;
    width: 100%;
}